
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }
  
  .header {
    background-color: white;
    text-align: center;
    padding: 10px;
  }

  /* Navegador */
  .topnav {
    overflow: hidden; /*ocultar cualquier contenido que se desborde*/
    background-color: #0c5a81; 
  }
  
  /* Navegador links */
  .topnav p {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Links - cambiar color */
  .topnav p:hover {
    background-color: #ffffff;
    color: #0c5a81; 
  }


  /* añadir al main */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }

  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    overflow: hidden;
  }

  .owner{
    color: green;
  }
  
  .boton-log {
    background-color: #00A1F1; 
    color: white;
    border-radius: 5px;
    border: none;
    padding: 8px ;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 130px;
}
.boton-log:hover {
    background-color: #058acc; 
}

.boton-Op {
    background-color: #0186c8;
    color: white;
    border: none;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 80px;
}
.formulario{
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  width: 200px;
}


