body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/622/676/943/3d-hd-wikipedia-3d-wallpaper-preview.jpg);
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

.form-container{
  display:flex;
  border-radius: 20px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
  height: 500px;
  max-width: 1500px;
  margin-top: 100px;
}

.inicio{
  padding : 20px;
  width: 350px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgba(194, 189, 238, 0.964);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.info-inicio{
  width: 100%;
  padding:30px;
}
.info-inicio h3{
  color: rgb(51, 51, 51);

}
.info-inicio h2{
  font-size: 50px;
  color: rgb(51, 51, 51);
  margin-top: -10px;
}
.info-inicio p {
  color: rgb(18, 24, 36);
}
.info-inicio  li {
  color: rgb(18, 24, 36);
  text-align: left;
}
.main{
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f8f8f8;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

}
.main h2{
  font-size: 28px;
  color :rgb(79, 79, 79);
}
.info-iniciar-sesion {
  height: 70%;
  width: 80%;

}
.info-iniciar-sesion input{
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  color: #333;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}
.info-iniciar-sesion input[type ="button"] {
  display: flex;
  color : #ffffff;
  border-radius: 20px;
  width: 45%;
  justify-content: center;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 25%;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
  background-color: #86869f;

}
.info-iniciar-sesion input[type ="button"]:hover {
  background-color: #d4d4db;
  color :  #4d4d7b;
}
#menu {
  width: 100%;

}
#menu p{
  font-size:20px;
  padding:10px 0 10px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
  background-color: #9f9feb92;
}
#menu hr{
  width :70%;
  border-color:#ccccf8;
  margin-top :20px;
}
.menu {
  cursor: pointer;
  margin-bottom: 10px;
  color:  rgb(51, 51, 51);
  width: 100%; /* Ocupa el 100% del ancho disponible */
}

.menu:hover {
  color:  #4d4d7b; /* Cambia el color al pasar el mouse */
}
.menuOp {

  cursor: pointer;
  margin-left:30px;
  margin-bottom: 5px;
  color:  rgb(51, 51, 51);
  width: 80%;
  font-size: 20px;
}


.menuOp p :hover {
  color:  #4d4d7b; /* Cambia el color al pasar el mouse */
  background-color: #333;
}
.boton-Op {
  background-color: #86869f;
  color: white;
  border: none;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 80px;
}
.boton-Op:hover {
  background-color: #4d4d7b;
}
.usuario {
margin-bottom :30px;
align-items: center;
justify-content: center;
}
.icon-usuario {
margin: 50px 50px 0 50px;
}
.icon-usuario i {
  font-size: 35px;
  border-radius : 50%;
  padding: 20px;
  color: #49126b;

  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}
.nombre-usuario {
  display: inline-block;
}
#listaPaginas{
 background-color: #86869f;

}
.switch {
background-color: #73739c;
color:black;
border-radius: 1000px;
border: none;
position: relative;
cursor: pointer;
display: flex;
outline: none;
margin-left:30%;
margin-top:10px;

}
.switch i {
 color:black;
 font-size:20px;
 margin-top:5px;

}
.switch ::after{
content: "";
display :block;
width: 30px;
height: 30px;
position: absolute;
background-color:  #e1e1e1d4;
top:2px;
left:2px;
right:unset;
border-radius: 100%;
transition: .3s easy all;
box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);

}
.switch span{
  width: 30px;
  height: 30px;
  line-height:30px;
  display: block;
  color:white;

}
.switch.active{
  background :white;
  color: black;

}
.switch.active ::after {
  left: unset;
  right:2px;

}
.inicio.modo-dark{
  background-color: #351c45;
}
.inicio.modo-dark .menu{
  color:white;
}

.inicio.modo-dark #menu p {
  background-color:  #552172;
}
.inicio.modo-dark .icon-usuario i{
  color :#ffffff;
  box-shadow: 0 5px 7px rgba(255, 255, 255, 0.1);
}
.inicio.modo-dark .menuOp {
  color :white;
}
.inicio.modo-dark .menuOp  :hover{
  color :white;
}
.inicio.modo-dark .nombre-usuario {
  color:white;
}
.main.modo-dark {
  background-color: #392344;
}
.main.modo-dark p,
.main.modo-dark label {
  color: white; /* Cambia el color del texto a blanco */
}
