body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/622/676/943/3d-hd-wikipedia-3d-wallpaper-preview.jpg);
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

.form-container{
  display:flex;
  border-radius: 20px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
  height: 500px;
  max-width: 1500px;
  transition: all is ease;
  margin: 10px;
}
.inicio{
  width: 350px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgb(168, 195, 186);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.info-inicio{
  width: 100%;
  padding:30px;
}
.info-inicio h3{
  color: rgb(51, 51, 51);

}
.info-inicio h2{
  font-size: 50px;
  color: rgb(51, 51, 51);
  margin-top: -10px;
}
.info-inicio p {
  color: rgb(18, 24, 36);
}
.info-inicio  li {
  color: rgb(18, 24, 36);
  text-align: left;
}
.main{
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f8f8f8;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

}
.main h2{
  font-size: 28px;
  color :rgb(79, 79, 79);
}
.info-iniciar-sesion {
  height: 70%;
  width: 80%;

}
.info-iniciar-sesion input{
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  color: #333;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}
.info-iniciar-sesion input[type ="button"] {
  display: flex;
  color : #ffffff;
  border-radius: 20px;
  width: 45%;
  justify-content: center;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 25%;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
  background-color: #86869f;

}
.info-iniciar-sesion input[type ="button"]:hover {
  background-color: #d4d4db;
  color :  #4d4d7b;
}
#menu {
  width: 100%;
}

.menu {
  cursor: pointer;
  margin-bottom: 10px;
  width :20%;
  color:  rgb(51, 51, 51);
  width: 100%; /* Ocupa el 100% del ancho disponible */
}

.menu:hover {
  color: red; /* Cambia el color al pasar el mouse */
}
.header {
  display: none;

  background-color: white;
  text-align: center;
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
}

.footer {
  display: none;
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
  overflow: hidden;
}
#userName{
  color: green;
}


.boton-Op {
    background-color: #00A1F1;
    color: white;
    border: none;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 80px;
}
.boton-Op:hover {
    background-color: #058acc;
}


.fondo-oscuro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-centro {
    z-index: 1; /* Sobre el fondo oscuro */
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
    
